<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.sii.rental.ui.definition.copyCustomer">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            name="Colors"
            class="com.sii.rental.ui.preferences.FieldEditorColorPreferencePage"
            id="com.sii.rental.ui.page.color">
      </page>
      <page
            class="com.sii.rental.ui.preferences.RentalPalettePreferences"
            id="com.sii.rental.ui.page.palette"
            name="Palette">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="com.sii.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sii.rental.ui.adapters.RentalToCustomerAdapterFactory"
            class="com.sii.rental.ui.adapters.RentalToCustomerAdapterFactory">
         <adapter
               type="com.opcoach.training.rental.Customer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.sii.rental.ui.palette">
      <palette
            id="com.sii.rental.ui.palette.default"
            name="default"
            paletteClass="com.sii.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.sii.rental.ui.palette.fix"
            name="fix"
            paletteClass="com.sii.rental.ui.palette.FixPalette">
      </palette>
   </extension>

</plugin>
